@font-face{
    font-family: "Open Sans";
    src: url(./type/Open_Sans/OpenSans-Regular.ttf);
}


body {
    font-family: "Open Sans";
    background-color: #2c2c2c;
    text-align: left;
    color: #ffffff;
}

h1, h2 {
    font-family: 'Gravitas One';
    font-weight: 100;
    
}

h1 {
    font-size: 32px;
}

h2{
    font-size: 16px;
}


p {
    font-size: 16px;
    font-weight: lighter;
}

a {
    background-color:navy;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 500px;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Classes & IDs */

.nav {
    
    float: right;
    margin: 0px 10px;
}

.navbar {
    background-color: #ffffff;
    margin-right: auto;
    padding: 10px;
}


#top {
    border: 2px solid white;
    /* display: block; */
}

#profile-pic{  
    width: 500px;
    /* float: left; */
}

#bio {
    width: 500px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    /* float: right;   */
}
 
/*Buttons*/

#bio-button{
    background-color: white;
    color: black;
}

.button{
    font-size: 32px;
    font-weight: bolder;
    background-color: red;
    padding: 20px 40px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: 25%;
    
}

.button:hover, #bio-button:hover{
    background-color: blue;
    color: white;
}

/* #topsection {
    padding: 20px;
    border: 2px solid #ffffff;
    display: inline-block
} */


.interest {
    width: 540px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.int-img {
    width: 200px;
}

.int-disc {
    width: 500px;
    padding: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
/* Targeted Nesting*/

.int-disc p {
    font-size: 30px;
}


/*Cominators*/
.comb{
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    margin: 20px;
}

.comb > h1{ 
    color: yellow;
}

